
<div class="dashboard-container">
    <!-- Main content area where pages load dynamically -->
    <div class="main-content">
       
        <div id="dashboard-content">
            <p>Select an option from the sidebar to get started.</p>
        </div>
    </div>
</div>


