@{
    ViewData["Title"] = "Reserve Parking";
}

<h2>Reserve Parking</h2>

<form>
    <label>Name:</label>
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name"><br>

    <label>Email:</label>
    <input type="email"><br>

    <label>Phone:</label>
    <input type="text"><br>

    <label>Reservation Date:</label>
    <input type="date"><br>

    <label>Reservation Time:</label>
    <input type="time"><br>

    <label>Notes:</label>
    <textarea></textarea><br>

    <button type="submit">Pay</button>
</form>
