@{
    ViewData["Title"] = "Pay Online";
}

<h2>Pay Online</h2>

<form>
    <label>Payment Methods:</label><br>
    <input type="radio" name="payment" value="creditcard"> Debit or Credit Card<br>
    <input type="radio" name="payment" value="paypal"> PayPal<br>

    <label>First Name:</label>
    <input type="text"><br>

    <label>Last Name:</label>
    <input type="text"><br>

    <label>Credit Card Number:</label>
    <input type="password"><br>

    <label>Security Code:</label>
    <input type="text"><br>

    <label>Expiration:</label>
    <input type="text"><br>

    <button type="submit">Submit Order</button>
</form>
